github "tuist/SwiftShell"
github "JohnSundell/ShellOut" ~> 2.1.0
github "XCEssentials/RepoConfigurator" ~> 1.6.0
# git "file:///Users/maxim/Library/Mobile Documents/com~apple~CloudDocs/Dev/XCEssentials/RepoConfigurator" "release/1.6.0"
